$colours-kelly-22: #f2f3f4 #222222 #f3c300 #875692 #f38400 #a1caf1 #be0032 #c2b280 #848482 #008856 #e68fac #0067a5 #f99379 #604e97 #f6a600 #b3446c #dcd300 #882d17 #8db600 #654522 #e25822 #2b3d26;

$colours: $colours-kelly-22 !default;

$border-width: 0.25em !default;
$border-style: solid !default;

$border-radiuses: 1% 25% 50% !default;

$padding: 0.25em !default;
